<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>commentproductaloui</name>
    <displayName><![CDATA[Product comment]]></displayName>
    <version><![CDATA[1.0]]></version>
    <description><![CDATA[Allow store users to leave a comment for product]]></description>
    <author><![CDATA[Aloui Mohamed Habib]]></author>
    <tab><![CDATA[]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>